body{
    background-color: grey;
}
.container1{
    display: flex;
    width: 100%;
    height:130px;
    border: 2px solid white;
    justify-content: center;
}
.box1{
    background-color: white;
    border: 5px solid red;
    height: 120px;
    width: 20%;
    text-align: center;
    color: rgb(207, 37, 37);
}
/* .container2{
    display: flex;
    width: 99%;
    height:500px;
    border: 8px solid green;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* .containerf{
    width: 99%;
    height: 250px;
} */
/* .card1{
    background-color: white;
    width: 12%;
    height: 170px;
    text-align: center;
    border: 3px solid red;
    color: darkmagenta;
}
.card2{
    background-color: white;
    width: 12%;
    height: 170px;
    text-align: center;
    border: 3px solid red;
    color: darkmagenta;
}
/* .containers{
    width: 99%;
    height: 250;
} */
/* .card3{
    background-color: white;
    width: 12%;
    height: 170px;
    text-align: center;
    border: 3px solid red;
    color: darkmagenta;
    float: left;
} */
/* .card4{ 
     background-color: white;
    width: 12%;
    height: 170px;
    text-align: center;
    border: 3px solid red;
    color: darkmagenta;
    float: left;
}  */
.container2{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 10px;
    margin-right: 50px;
    width: 90%;
    height: 500px;
    border: 5px solid green;
}
.containerf{
    display: flex;
    width: 90%;
    height:250px;
    
}
.card1{
    background-color: white;
    width: 15%;
    height: 170px;
    text-align: center;
    border: 3px solid red;
    color: darkmagenta;
    margin-right: 580px;
}
.card2{
    background-color: white;
    width: 15%;
    height: 150px;
    text-align: center;
    border: 3px solid red;
    color: darkmagenta;
    margin-right: -140px;
    margin-left: 395px;
    padding-top: 30px;
    padding-bottom: -30px;
    
}

.containers{
    display: flex;
    width: 90%;
    height: 250px;
    margin-top: 70px;
}
 .card3{
    background-color: white;
    width: 15%;
    height: 170px;
    text-align: center;
    border: 3px solid red;
    color: darkmagenta;
    margin-right: 580px;
 }
 .card4{ 
    background-color: white;
   width: 15%;
   height: 170px;
   text-align: center;
   border: 3px solid red;
   color: darkmagenta;
   margin-right: -140px;
   margin-left: 395px;
   
 }
 .container3{
     border: 6px solid darkmagenta;
     height: 500px;
     width: 50%;
     justify-content: center;
     flex-wrap: wrap;
     margin-left: 270px;
     margin-top: 30px;
     background-color: green;
     text-align: center;

 }
 .containera{
     display: flex;
     width: 100%;
     height: 250px;
 }
 .box2{
    background-color: rgba(255, 255, 0, 0.945);
    width: 50%;
    height: 210px;
    text-align: center;
    color: black;
    margin-right: 10px;
  
 }
 .box3{
    background-color: rgba(255, 255, 0, 0.945);
    width: 50%;
    height: 210px;
    text-align: center;
    color: black;
  
 }
 .containerb{
     display: flex;
     width: 100%;
     height: 250px;
     margin-top: -30px;
 }
 .box4{
    background-color: rgba(255, 255, 0, 0.945);
    width: 100%;
    height: 210px;
    text-align: center;
    color: black;
  
 }
.container4{
    border: 4px solid red;
    background-color: rgba(69, 231, 19, 0.918);
    width: 30%;
    height: 80px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 500px;
    margin-top: 400px;
} 
.slider{
    display: flex;
    position: absolute;
}
.box5{
    display: flex;
    width: 50%;
    height: 80px;
    margin-right: 100px;
}
.box6{
    display: flex;
    width: 50%;
    height: 80px;
    margin-right: -40px;
}
.container4{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500; 
    
}
.slider{
    max-height: 100vh;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: solid(0,1,0,5,1);

&.close{
    max-height: 0;
    }
}